@import url('https://fonts.googleapis.com/css2?family=Kalnia:wght@600;700&family=Poppins:wght@300;400;600;800&display=swap');

* {
   margin: 0;
   box-sizing: border-box;
}

html {
   font-size: 16px;
   font-family: "Poppins", sans-serif;
   font-weight: 300;
   font-style: normal;
   background-color: #E9E5D9;
   padding: 20px;
}

.noise {
   position: fixed;
   z-index: 9999;
   top: -300%;
   left: -150%;
   height: 600%;
   width: 600%;
   animation: grain 7s steps(10) infinite;
   background-image: url(/images/noise.png);
   background-size: 200px;
   background-repeat: repeat;
   opacity: .25;
   pointer-events: none;
}


/* ------ header ------ */
header {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
   height: 100px;
   border: 0.5px solid #A4997B;
}

.logo {
   flex: 0 0 340px;
   text-align: center;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   border-right: 0.5px solid #A4997B;
}

.logo img {
   width: 55%;
}

nav {
   flex: 1;
   text-align: right;
   padding-right: 20px;
}

nav ul {
   padding: 0;
   list-style: none;
   display: block;
}

nav ul li {
   display: inline-block;
}

nav ul li a {
   color: #1F1305;
   font-weight: 600;
   padding: 10px 15px 8px;
   text-transform: uppercase;
   text-decoration: none;
   transition: color 0.3s ease;
}

nav ul li a:hover,
nav ul li:active {
   color: #D8BC8C;
}

h1 {
   font-family: "Kalnia", serif;
   font-size: 1.8em;
   font-optical-sizing: auto;
   font-weight: 600;
   font-style: normal;
   font-variation-settings:
      "wdth" 100;
}

h1 a {
   color: #1F1305;
   text-decoration: none;
}

ul,
ol {
   padding: 0;
   list-style: none;
}

section.page-hero,
section.about-page,
section.projects-page,
section.contact-page {
   display: flex;
   flex-wrap: nowrap;
   justify-content: flex-end;
   height: calc(100vh - 140px);
   gap: 50px;
   border-inline: 0.5px solid #A4997B;
   border-bottom: 0.5px solid #A4997B;
}


/* ------ HOME ------ */
.page-hero-header,
.page-hero-content {
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   padding: 20px;
}

.page-hero-header {
   order: 1;
   flex: 1;
   align-items: flex-end;
   text-align: right;
}

.page-hero-content {
   flex: 0 0 340px;
   color: #534D3F;
   border-right: 0.5px solid #A4997B;
}

.page-hero-header h2 {
   font-family: "Kalnia", serif;
   font-weight: 700;
   text-transform: uppercase;
   font-size: 10em;
   color: #1F1305;
   line-height: 0.85;
   letter-spacing: 0.90625rem;
   max-width: 700px;
}

.page-hero-header h3 {
   font-size: 3em;
   font-weight: 800;
   line-height: 1.2;
   letter-spacing: 1.2rem;
   text-transform: uppercase;
   margin-top: 10px;
   margin-right: auto;
   word-break: break-word;
   color: #E9E5D9;
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: #1F1305;
}

.page-hero-buttons {
   margin-top: 30px;
   display: flex;
}

a.button,
.button {
   color: #fff;
   text-decoration: none;
   margin: 0;
   border: 0;
   padding: 6px 25px;
   border: 1px solid #D8BC8C;
   background-color: #D8BC8C;
   border-radius: 2rem;
   font-family: inherit;
   font-weight: 300;
   font-size: 0.9rem;
   transition: all 0.3s ease-in;
}

a.button:hover {
   background-color: transparent;
   color: #534D3F;
}

a.button+a.button {
   margin-left: 5px;
}

/* ------ ABOUT ------ */
section.about-page {
   gap: 0;
}

.about-page-content,
.about-page-skills {
   padding: 20px;
}

.about-page-content {
   flex: 1;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.about-page-content p:first-of-type,
.about-page-skills h2 {
   padding-top: 3rem;
}

.about-page-content p {
   color: #534D3F;
   font-size: 1.125rem;
   font-weight: 400;
   letter-spacing: -0.2px;
   margin-bottom: 20px;
   max-width: 600px;
}

.about-page-content p+p {
   font-size: 1em;
   font-weight: 330;
   margin-left: auto;
   max-width: 300px;
   text-align: right;
}

.about-page-skills {
   flex: 0 0 450px;
   border-left: 0.5px solid #A4997B;
}

.about-page-skills .skills-lists {
   margin-bottom: 3em;
}

.about-page-skills h2 {
   color: #E9E5D9;
   font-family: inherit;
   font-size: 3em;
   margin-bottom: 20px;
   text-transform: uppercase;
   /* word-break: break-word; */
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: #1F1305;
}

.about-page-skills h2 span {
   color: #1F1305;
   margin-right: 5px;
   font-family: "Kalnia", serif;
   font-weight: 600;
   text-transform: uppercase;
}

.skills-lists ul {
   display: flex;
   flex-wrap: wrap;
   gap: 10px 7px;
}

/* ------ PROJECTS ------ */

section.projects-page {
   flex-direction: column;
   justify-content: flex-start;
   height: auto;
}

.projects-page-header h2 {
   font-family: "Kalnia", serif;
   font-weight: 700;
   text-transform: uppercase;
   font-size: 5em;
   color: #1F1305;
   line-height: 0.85;
   max-width: 700px;
   margin-bottom: 30px;
}

.projects-page-content {
   display: flex;
}

table.projects {
   flex: 1;
   margin-inline: auto;
   table-layout: fixed;
   width: 100%;
   padding: 20px;
}

table.projects td {
   padding-inline: 10px;
}

table.projects img {
   border: 0.5px solid #534D3F;
   border-radius: 5px;
   padding: 10px;
   margin-bottom: 20px;
   width: 100%;
}

table.projects figcaption>a {
   text-decoration: none;
   color: #1F1305;
   transition: color 0.3s ease;
}

table.projects figcaption>a:hover {
   color: #D8BC8C;
}

table.projects td div.project-title {
   font-weight: 700;
   text-transform: uppercase;
   font-size: 1.6em;
   line-height: 0.85;
   max-width: 700px;
   margin-bottom: 25px;
}

table.projects td div.project-details {
   margin-bottom: 40px;
}

.projects-process {
   flex: 0 0 520px;
   margin-inline: auto;
   max-width: 1180px;
   padding: 20px;
   border-left: 0.5px solid #A4997B;
}

.projects-process h3 {
   color: #E9E5D9;
   font-family: inherit;
   font-size: 2.4em;
   line-height: 1;
   margin-bottom: 30px;
   text-transform: uppercase;
   word-break: break-word;
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: #1F1305;
}

.projects-process ol li {
   margin-bottom: 15px;
   text-transform: uppercase;
   color: #534D3F;
}

.projects-process ol li span {
   display: block;
   text-transform: none;
   color: #1F1305;
}

/* ------ CONTACT ------ */
section.contact-page {
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding-top: 3rem;
}

.contact-page-header h2 {
   font-family: "Kalnia", serif;
   font-weight: 700;
   text-transform: uppercase;
   font-size: 5em;
   color: #1F1305;
   line-height: 0.85;
   text-align: center;
   margin-bottom: 25px;
}

.contact-content {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   width: 900px;
   text-align: center;
}

.contact-content h3 {
   color: #E9E5D9;
   font-family: inherit;
   font-size: 2.4em;
   line-height: 1;
   margin-bottom: 20px;
   text-transform: uppercase;
   word-break: break-word;
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: #1F1305;
}

.contact-content .contact-address a {
   color: inherit;
   text-decoration: none;
   transition: color 0.3s ease;
}

.contact-content .contact-address a:hover {
   color: #D8BC8C;
}


.contact-social .social-list {
   display: flex;
   justify-content: center;
   gap: 10px;
}

.contact-social .social-list img {
   max-width: 25px;
   height: 25px;
}


/* ------ Media Queries ------ */

@media (width <=1200px) {

   /* home page */
   .page-hero-header h2 {
      font-size: 7.3em;
      letter-spacing: 0.2rem;
   }

   .page-hero-header h3 {
      font-size: 3em;
   }

   /* projects page */
   .projects-page-header h2 {
      font-size: 4em;
   }

   .projects-process {
      flex: 0 0 400px;
   }
}

@media (width <=1024px) {

   .logo,
   .page-hero-content {
      flex: 0 0 240px;
   }

   /* home page */
   section.page-hero {
      gap: 0;
   }

   .page-hero-header h2 {
      font-size: 6.8em;
      letter-spacing: 0.2rem;
      max-width: 440px;
   }

   .page-hero-header h3 {
      font-size: 2.5em;
      max-width: 600px;
      margin-right: 0;
      letter-spacing: 0.8rem;
   }

   .page-hero-buttons {
      flex-direction: column;
      align-items: flex-start;
      gap: 8px;
   }

   a.button+a.button {
      margin-left: 0;
   }

   /* about page */
   .about-page-skills {
      flex: 0 0 320px;
   }

   /* projects page */
   .projects-page-header h2 {
      font-size: 3.5em;
   }

   .projects-process {
      flex: 0 0 320px;
   }

   /* contact page */
   .contact-content {
      flex-direction: column;
      width: 100%;
   }

   .contact-page-header h2 {
      font-size: 4.5em;
   }

   .contact-content div {
      margin-bottom: 35px;
   }

   .contact-content h3 {
      margin-bottom: 15px;
   }
}


/* ipads, tablets 481px - 768px */
@media (width <=768px) {
   html {
      font-size: 14px;
   }

   header {
      flex-direction: column;
      height: auto;
   }

   .logo {
      flex: 0 0 auto;
      height: 100px;
      border-right: 0;
   }

   nav {
      padding-right: 0;
      width: 100%;
   }

   nav ul {
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   nav ul li {
      padding-block: 8px;
   }

   nav ul li:last-of-type {
      padding-bottom: 20px;
   }

   /* page hero section */
   section.page-hero,
   section.about-page {
      flex-wrap: wrap;
      height: calc(100vh - 301px);
   }

   .page-hero-header {
      order: -1;
   }

   .page-hero-header h2 {
      max-width: 440px;
   }

   .page-hero-header h3 {
      letter-spacing: 0.3rem;
      max-width: 450px;
   }

   .page-hero-content {
      border-right: 0;
      flex: 0 0 100%;
      max-width: 340px;
      margin-right: auto;
   }

   .page-hero-buttons {
      flex-direction: row;
   }

   /* about page */
   section.about-page {
      height: auto;
   }

   .about-page-skills {
      flex: 0 0 100%;
      border-left: 0;
   }

   .about-page-content p:first-of-type,
   .about-page-skills h2 {
      padding-top: 2em;
   }

   /* projects page */
   .projects-page-content {
      flex-direction: column;
   }

   .projects-page-header h2 {
      text-align: center;
   }

   .projects-process {
      border-left: 0;
   }

   /* contact page */
   section.contact-page {
      padding-top: 8em;
      height: calc(100vh - 100px);
   }
}

/* Mobile devices 480px */
@media (width <=480px) {

   /* homepage */
   .page-hero-header h2 {
      font-size: 4.8em;
      letter-spacing: 0.2rem;
   }

   .page-hero-header h3 {
      font-size: 2em;
   }

   /* projects */
   .projects-page-header h2 {
      font-size: 2.8em;
   }

   /* contact page */
   .contact-page-header h2 {
      font-size: 4em;
   }
}

/* Mobile devices 360px */
@media (width <=360px) {

   /* homepage */
   .page-hero-header h2 {
      font-size: 3.5em;
      letter-spacing: 0.2rem;
   }

   .page-hero-header h3 {
      font-size: 1.8em;
   }

   /* about page */
   .about-page-content p:first-of-type,
   .about-page-skills h2 {
      padding-top: 0;
   }

   /* projects */
   .projects-page-header h2 {
      font-size: 2.5em;
   }
}

/* animations */
@keyframes grain {

   0%,
   100% {
      transform: translate(0);
   }

   10% {
      transform: translate(-5%, -10%);
   }

   20% {
      transform: translate(-15%, 5%);
   }

   30% {
      transform: translate(7%, -25%);
   }

   40% {
      transform: translate(-5%, 25%);
   }

   50% {
      transform: translate(-15%, 10%);
   }

   60% {
      transform: translate(15%);
   }

   70% {
      transform: translateY(15%);
   }

   80% {
      transform: translate(3%, 35%);
   }

   90% {
      transform: translate(-10%, 10%);
   }
}